.nav-container
{
    display:flex;
    flex-direction: row;

    justify-content: space-between;
}

.footer
{
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
    background: #000;
    color: aliceblue;
}

.main {
    min-height: 100vh;
    background-color: bisque;
    background-size: cover;
    z-index: -20;
  }

.mainRow
{
    margin-bottom:30px;
    border:2px solid white;
    min-height:70vh;
    padding-left: 60px;
    padding-right: 60px;
}

.side-option
{
    flex:1;
    row-gap: 10px;
}

.main-option
{
    flex:3
}

.main-container
{
    min-height:90vh;
    justify-content: center;
}

.mainRow Button
{
    height:8em;
}